@media { 


    .lead {
        width: 100%
    }

    .topper {
        background-image: url(8d060352-dba2-4e14-9d0f-990b9d16fed7-GettyImages-1230638928.jpg) ;
        background-size: cover ;
        background-position: center
    }
    
    h1 {
        padding: 400px 0px 30px 500px; 
        font-family: 'Roboto', sans-serif;
    }
    
     #navigation {
        background-color: #2f3061 ;
        color: #dfdfdf ;
        font-family: 'Roboto', sans-serif;   
    }


 .body {
        font-family: 'PT Serif', serif;
        width: 80% ;
    }

    img {
        width: 100% ;
    }
    
    .caption {
        font-size: 12px ;
        align-content: center ;
    }
    
    .pullquote {
        background-color: #2f3061 ;
        color: white ;
        font-size: 22px ;
        font-family: 'Roboto', sans-serif;
    }
    
   
    .pullquote2 {
    font-size:30px;
    font-family: 'Roboto', sans-serif; 
    align-content: center ;
    color: #0e34a0 ;
    padding: 40px ;
    margin: 0 auto;
    }
    
    #highlight {
    background-color: lightyellow ;
    font-weight: bold
}

    .subhead { 
    border-bottom: 3px solid black ; 
    padding: 0px 0px 3px 0px ;
    margin: 30px 0px 20px 0px ;
    }
   
    
    
    
}





@media (min-width:576px) {
    
}


@media (min-width:992px) { 

    
}


@media (min-width:1200px) {
    
    
}