@media { 


    .lead {
        width: 100%
    }

    .topper {
        background-image: url(8d060352-dba2-4e14-9d0f-990b9d16fed7-GettyImages-1230638928.jpg) ;
        background-size: cover ;
        background-position: center ;
    }
    
    h1 {
        padding: 400px 0px 20px 150px; 
        font-family: 'Raleway', sans-serif;
        font-weight: 700 ;
        font-size: 40px ;
        text-align: center ;
    }
    
     #credit {
        background-color: #2f3061 ;
        color: #dfdfdf ;
        font-family: 'Raleway', sans-serif; 
        padding: 0px 0px 0px 20px ;
    }
    
    h2 {
        padding: 20px 0px 0px 40px ;
    }


 .body {
        font-family: 'PT Serif', serif;
        width: 90% ;
    }

    img {
        width: 100% ;
    }
    
    .caption {
        font-size: 12px ;
        align-content: center ;
    }

    
    .quote {
        font-size: 30px ;
        margin: 20px 5px 20px 5px ;
        background-color: #2f3061 ;
        color: white ;
        font-family: 'Raleway', sans-serif;
        padding: 25px 15px 15px 15px;
        margin: 50px 0px 0px 0px ;
    }
    
    .attribution {
        font-size: 15px ; 
        margin: 0px 0px 50px 5px ;
    }
   
    .pullquote2 {
    font-family: 'Raleway', sans-serif; 
    color: #0e34a0 ;
    padding: 15px 0px 10px 15px;
    margin: 50px 0px 50px 0px ;
    border: 3px solid #2F3061 ;
    }
    
    .quote2{ 
    font-size: 30px ;
    }
    
    #highlight {
    background-color: #dfdfdf ;
    font-weight: bold
    }

    .subhead { 
    border-bottom: 3px solid black ; 
    padding: 0px 0px 3px 0px ;
    margin: 50px 0px 20px 0px ;
    }
    
   
    .end {
        font-style: italic ;
        font-size: 10px;
        }
    
}


@media (min-width:576px) {

      h1 {
        padding: 450px 20px 30px 340px; 
        font-family: 'Raleway', sans-serif;
        font-weight: 700 ;
        font-size: 35px ;
        text-align: center ;
        }
    
    .body {
        width: 80% ;
        }

@media (min-width:992px) { 

        h1 {
        padding: 400px 0px 30px 430px; 
        font-family: 'Raleway', sans-serif;
        font-weight: 700 ;
        font-size: 40px ;
        text-align: center ;
        }
        .body {
        width: 80% ;
            }


@media (min-width:1200px) {
     h1 {
        padding: 400px 0px 30px 575px; 
        font-family: 'Raleway', sans-serif;
        font-weight: 700 ;
        font-size: 45px ;
        text-align: center ;
        } 
    
        .body {
        width: 80% ;
            }
}